<p id="notice"><%= notice %></p>

<h1><%= @author.name %></h1>

<% @author.books.each do |book| %>
    <h3><%= link_to book.name, book%></h3>

<% end %>
<%= link_to 'Edit', edit_author_path(@author), class:'btn' %>
<%= link_to 'Back', authors_path, class:'btn' %>
